# nodejs api env
PORT=5000
BASE_URL=http://localhost:5000
REACT_APP_URL=http://localhost:3000
DB_URI=mongodb+srv://admin:1111111@cluster0.pyrgc.mongodb.net/?retryWrites=true&w=majority
REDIS_HOST=redis://shorter_redis:6379

# react app env
REACT_APP_BACKEND_URL=http://localhost:5000